/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

:root {
    box-sizing: border-box;
}

html {
    border: .01rem solid red;
    min-height: 100vh;
    max-width: 100vw;
}

body {

}

label {
    padding-top: 18px;
    font-family: 'Staatliches', cursive;
}

.container {
    display: flex;
}

.left-side {
    border: .1rem solid blue;
    display: flex;
    flex: 1;
}

.right-side {
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 40px 20px 0 20px;
    justify-content: flex-end;
}

.form {
    margin: 2rem 0;
    display: flex;
    justify-content: flex-start;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}


.form-container {
    display: flex;
}

.column-1, .column-2 {
    display: flex;
    flex-direction: column;
    margin-right:40px;
}

.bottom {
    display: flex;
    flex-direction: column;
    flex: 1;
}

img.background {
    max-height: 100vh;
}

.form {
    padding: 0 0 18px 18px;
}

.button {
    display: flex;
    height: 38px;
    width: 132px;
    background-color: rgb(84, 128, 18);
    color: white;
    margin-left: 32px;
    justify-content: center;
    align-items: center;

  }

  .log-in {
    display: flex;
    margin-left: 30px;
  }

/* 
.left-side {
    background: url("moreno-matkovic-unsplash.jpg");
    border: .1rem solid black;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    left: 0;
    height: 100vh;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}

.right-side {
    border: .01rem solid blue;
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    justify-content: center;
}

.form {
    border: .01rem solid green;
    display:flex;
    flex: 1;
}

.top {
    border: .01rem solid purple;
    display flex;
    flex: 1;
}

.bottom {
    border: .01rem solid yellow;
    display: flex;
    flex: 1;
}
 */
